In [37]:
import pandas as pd

# Data
df_mots = (pd
           .read_csv('https://raw.githubusercontent.com/phat-ap/econvis/main/data/tha_mots_annual_by_province.csv'
                    )
          )

for col in ['level', 'province_en', 'variable_en']:
    df_mots[col] = df_mots[col].astype('category')

In [56]:
def get_data(variable, province):
    return (df_mots
            .query('variable_en == @variable & province_en == @province')
            .sort_values('year').set_index('year')['value'].rename(province)
            .copy()
           )

In [57]:
get_data('Occupancy Rate (%)', 'Ratchaburi')

year
2019    56.89
2020    36.33
2021    19.25
2022    50.64
Name: Ratchaburi, dtype: float64

In [58]:
df_mots.variable_en.unique().to_list()

['Occupancy Rate (%)',
 'Number of Accommodation Guests',
 'Number of Visitors',
 'Number of Thai Visitors',
 'Number of Foreign Visitors',
 'Receipts from Visitors (MB)',
 'Receipts from Thai Visitors (MB)',
 'Receipts from Foreign Visitors (MB)']

In [59]:
li_west = ['Ratchaburi', 'Tak', 'Prachuap Khiri Khan', 'Phetchaburi', 'Kanchanaburi']

In [65]:
def get_data_by_variable(variable):
    return pd.concat([get_data(variable, 'Whole Kingdom'),
                      pd.concat([get_data(variable, province) for province in li_west], axis = 1).mean(axis = 1).rename('Western Region'),
                      get_data(variable, 'Ratchaburi')
                     ],
                     axis = 1
                    )

In [69]:
get_data_by_variable('Number of Visitors').to_csv('output.csv')

In [75]:
# Average Spending of Visitors 
pd.concat([get_data('Receipts from Visitors (MB)', 'Ratchaburi')/get_data('Number of Visitors', 'Ratchaburi')*1000000,
           get_data('Receipts from Thai Visitors (MB)', 'Ratchaburi')/get_data('Number of Thai Visitors', 'Ratchaburi')*1000000,
           get_data('Receipts from Foreign Visitors (MB)', 'Ratchaburi')/get_data('Number of Foreign Visitors', 'Ratchaburi')*1000000
          ],
          axis = 1
         )

       Ratchaburi   Ratchaburi   Ratchaburi
year
2019  1890.719474  1877.665368  2322.015334
2020  1638.846165  1635.258483  2356.911827
2021  1273.813318  1270.920889  3070.104754
2022  1180.140559  1152.305948  2662.972292

In [79]:
# Number of Visitors
pd.concat([get_data('Number of Thai Visitors', 'Ratchaburi'),
           get_data('Number of Foreign Visitors', 'Ratchaburi')
          ],
          axis = 1
         )